@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*--body-background-color: #0D0;*/
    --body-font-family: "Montserrat";

    --bg-color: lightgreen;
    --text-color: #222222;
    --header-bg: lightgreen;
    --header-text: #222222;
    --form-bg: lightgreen;
    --form-text: #222222;
    --input-bg: #ffffff;
    --input-text: #222222;
    --button-bg: #1E90FF;
    --button-text: #ffffff;
    --info-color: gray;
    --error-color: #ff3333;
    --li-bg: rgb(19, 163, 19);
    --portfolio-button-bg: orange;
    --details-hover-color: orange;
    --link-colors-not-nav: purple;
    --form-label-color: #222222;
    --form-legend-color: #222222;
    --catalog-bg-color: white;
    --catalog-border: 1px solid black;
    --class-card-border: 1px solid black;
    --class-card-border-radius: 18px;
    --class-card-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    --card-p-font-color: black;
    --instructions-font-color: #222222;
    --instructions-bg-color: rgb(171, 117, 19);;
}

body.dark {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --header-bg: #121212;
    --header-text: red;
    --form-bg: #121212;
    --form-text: #222222;
    --input-bg: #222222;
    --input-text: #ffffff;
    --button-bg: #1E90FF;
    --button-text: #ffffff;
    --info-color: gray;
    --error-color: #ff6666;
    --li-bg: #fff;
    --portfolio-button-bg: #fff;
    --details-hover-color: gray;
    --link-colors-not-nav : skyblue;
    --form-label-color: #e0e0e0;
    --form-legend-color: #e0e0e0;
    --catalog-bg-color: rgb(63, 62, 62);
    --catalog-border: 1px solid white;
    --class-card-border: 1px solid #ccc;
    --class-card-border-radius: 18px;
    --class-card-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    --card-p-font-color: white;
    --instructions-font-color: #e0e0e0;
    --instructions-bg-color: #222222;
}

.desktop { 
    display: block; 
    justify-self: center;
}
.mobile { 
    display: none;
    justify-self: center;
}

@media (max-width: 650px) {
  .desktop { display: none }
  .mobile { display: block }
}

dialog {
  border: none;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 420px;
  width: 90%;
  background: #ffffff;
  box-shadow: 0 10px 40px rgba(0,0,0,0.25);
  text-align: center;

    #plantImage {
        max-width: 240px;    
        max-height: 240px;
        object-fit: contain;
        margin: 1rem auto;
        display: block;
        border-radius: 18px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    #plantName {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
    }

    #plantSpecie {
        font-size: 1rem;
        font-weight: normal;
        color: #555;
        margin-bottom: 0.6rem;
    }

    #plantStatus {
        display: inline-block;
        padding: 0.2rem 0.6rem;
        border-radius: 20px;
        background: #e6f5e6;
        color: #2e7d32;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    /* Description */
    #plantNote {
    font-size: 0.9rem;
    color: #444;
    }

    /* Close button */
    button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    }

    button:hover {
    background: #256628;
    }
}

dialog::backdrop {
  background: rgba(0,0,0,0.8);
}

#plantsInstructions {
    font-size: 1.2rem;
    color: var(--instructions-font-color);
    margin-bottom: 1rem;
    justify-self: center;
    background-color: var(--instructions-bg-color);
}

#load-buttons {
    margin-bottom: 1rem;

    img {
        max-width: 2rem;
        height: auto;
    }
}

card-info {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: var(--catalog-bg-color);
    border: var(--catalog-border);
    padding: 0.5rem;
    margin-bottom: 1rem;

    img {
        max-width: 1.5rem;
        height: auto;
        margin-right: 0.5rem;
    }

    p {
        margin: 0;
        color: var(--card-p-font-color);
        font-size: 0.8rem;
    }
}

#catalog {
    background-color: var(--catalog-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border: var(--catalog-border);

    class-card {
        border: var(--class-card-border);
        border-radius: var(--class-card-border-radius);
        margin: 1rem;
        box-shadow: var(--class-card-box-shadow);
        text-align: center;

        #delete-card-button {
            background-color: red;
            color: white;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
        }

        form {
            background-color: var(--catalog-bg-color);
        }

        p {
            color: var(--card-p-font-color);
        }

        .class-note {
            margin: 0.5rem 1rem 1rem 1rem;
        }

        hgroup {
            margin-bottom: 1rem;

            h2 {
                margin-bottom: 0;
            }

            a {
                font-size: 0.8rem;
            }
        }

        picture {
            img {
                width: auto;
                max-height: 12vw;
            }
        }
    }
}

::target-text {
        background-color: rebeccapurple;
        color: white;
        font-weight: bold;
}

main {
    view-transition-name: page-content;
}

footer {
    view-transition-name: footer-content;
    align-items: center;
    justify-content: center;
    display: flex;
}


::view-transition-old(page-content) {
    animation: slideOutLeft 0.5s ease-in-out forwards;
}

::view-transition-new(page-content) {
    animation: slideInFromRight 0.5s ease-in-out forwards;
}

::view-transition-old(footer-content) {
    animation: slideOutLeft 0.5s ease-in-out forwards;
}

::view-transition-new(footer-content) {
    animation: slideInFromRight 0.5s ease-in-out forwards;
}

@keyframes slideOutLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-30%); }
}

@keyframes slideInFromRight {
    0% { transform: translateX(30%); }
    100% { transform: translateX(0); }
}

.vt-hide {
    opacity: 0 !important;
}

body {
    font-family: var(--body-font-family), sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    margin: 1rem
}

header {
    background-color: var(--header-bg);
    color: var(--header-text);
    transition: background-color 0.3s, color 0.3s;
}

#index-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
    place-items: center;
    background-size: 100%;
}

@media (max-width: 500px) {
    #index-main {
        grid-template-columns: 1fr;
    }
}

#pic {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 1rem;
    font-size: 1.3rem;

    li {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: var(--li-bg);
        color: black;
    }

    li:hover {
        background-color: orange;
    }

    a {
        text-decoration: none;
    }
}

a:not(nav a) {
    color: var(--link-colors-not-nav);
}

@media (max-width: 405px) {
    .nav-list {
        flex-direction: column;
    }
}

#home-button {
    margin-right: auto;
}

buton {
    background-color: var(--button-bg);
    color: var(--button-text);
    transition: background-color 0.3s, color 0.3s;
}

.atPortfolio-button {
    width: 8rem;
    height: 6rem;
    background-color: var(--portfolio-button-bg);
}

.atPortfolio-button:hover {
    background-color: orange;
}

#my-name {
    transition: 2s;
}

#my-name:hover {
    font-size: 3rem;
}

details:hover {
    text-decoration: dotted;
    background-color: var(--details-hover-color);
}

#portfolio-main {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    place-content: center;
    justify-content: center;
    padding: 2rem;

    section {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media (max-width: 550px) {
    #portfolio-main {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

#projects-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    a {
        color: var(--link-colors-not-nav);
    }
}

@media (max-width: 1000px) {
    #projects-layout {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

progress {
    accent-color: blue;
}

#pic108 {
    width: 100%;
    height: auto;
}

#pic110 {
    width: 100%;
    height: auto;
}

@keyframes SvgAnimation {
    0% {left: 0;}
    50% {left: 30vw;}
    100% {left: 80vw;}
}

svg {
    animation-name: SvgAnimation;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;
}

#form-body {
    h1 {
        justify-self: center;
    }
}

form {
    background-color: var(--form-bg);
    color: var(--form-text);
    transition: background-color 0.3s, color 0.3s;

    legend {
        color: var(--form-legend-color);
    }

    label {
        color: var(--form-label-color);
    }

    .form-container {
        background-color: white;  
        margin: 3vw 10vw;
        padding: 1.5vw 4vw;
        border-radius: 1rem;
    }

    input:valid {
        background-color: lightgreen !important;
        border: solid 2px green;
        color: black !important;
    }

    input:user-invalid {
        background-color: lightpink !important;
        border: solid 2px red;
        color: black !important;
    }

    textarea:valid {
        background-color: lightgreen;
        border: solid 2px green;
    }

    textarea:user-invalid {
        background-color: lightpink;
        border: solid 2px red;
    }

    #submit-button {
        border: black solid 1px;
        background-color: yellow !important ;
        color: black;
    }

    .jsForm {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100dvw;
        border: 0.5rem solid;

        legend {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
        }

        input {
            min-width: 50%;
            margin-bottom: 1.5vw;

            background-color: var(--input-bg);
            color: var(--input-text);
            transition: background-color 0.3s, color 0.3s;
        }

        textarea {
            max-width: 50dvw;
            margin-bottom: 0.5vw;   

            background-color: var(--input-bg);
            color: var(--input-text);
            transition: background-color 0.3s, color 0.3s;
        }

        comment-counter {
            margin-bottom: 1.5vw;
            font-size: 0.9rem;
            color: #555;
            transition: color 0.3s; 
        }

        .info {
            padding-bottom: 1rem;
        }

        output#error {
            color: var(--error-color);  /* red */
            font-size: large;
        }

        output#info {
            color: var(--info-color);  /* gray */
            font-size: large;
        }
    }

    .hidden {
        display: none;
    }

    /*
    .flash {
        animation: flash 0.5s ease;
    }

    @keyframes flash {
        0% { background-color: #ffb3b3; }
        100% { background-color: black; }
    }
    */
}